<h1>Liste des consommations</h1>

<table>
  <thead>
    <tr>
      <th>Date de consommation</th>
      <th>Nom de l'oeuvre</th>
      <th>Commentaire</th>
      <th>Note</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <% @consumptions.each do |consumption| %>
      <tr>
        <td><%= consumption.consumed_on %></td>
        <td><%= consumption.entertainment.name %></td>
        <td><%= consumption.comment %></td>
        <td><%= consumption.rating %></td>
        <td><%= image_tag(consumption.image_url) if consumption.image_url.present? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
