<h1>Quoi de neuf ?</h1>

<%= form_with model: @consumption, local: true do |form| %>
  <% if @consumption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumption.errors.count, "error") %> prohibited this consumption from being saved:</h2>
      <ul>
        <% @consumption.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# <div class="field">
    <%= form.label :entertainment %>
    <%# <%= form.collection_select :entertainment_id, Entertainment.all, :id, :title, { prompt: "Select an Entertainment" }, { class: 'form-control' } %>
  <%# </div> %>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, { class: 'form-control' } %>
  </div>

    <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :consumption_date %>
    <%= form.date_field :consumption_date, { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :commentary %>
    <%= form.text_field :commentary, { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.number_field :note, { class: 'form-control' } %>
  </div>

  <%# <div class="field">
    <%= form.label :image %>
    <%# <%= form.file_field :image, { class: 'form-control' } %>
  <%# </div> %>

  <div class="actions">
    <%= form.submit 'Ajouté une consommation', { class: 'btn btn-primary' } %>
  </div>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
<% end %>
